/*Acerca de*/
.container.bg-body-tertiary p{
    text-align: center;
    padding: 20px;
}
.container.bg-body-tertiary{
    margin-top: 2px;
}
/*Carrusel*/

  .carousel-item img {
    height: 350px;
  }
/*news*/
.news{
    max-width: 60%;
    margin: auto;
}

/*informacion alumno index*/
#inf.card.container h5,#inf.card.container p{
    text-align: center;
    margin:2px;
}

#log {
    width: 60%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
#log h3 {
    margin-top: 10px;
}
#btn-confirmar{
    display: flex;
    align-items: center;
}

.Gcard h5{
    margin-top: 2px;
    text-align: center;
}

/*background*/
body{
    background-size: 50%;
}


/*Estilos Galeria*/

.Gcard img{
    width: 200px;
    height: 200px;
    border: solid rgb(195, 190, 187) 0.5px;
    align-self: center;
}

/*footer*/
div footer{
    margin-top: 20px;
}